## Blacklist
*

## Whitelist

# Git
!.gitignore
!.gitkeep
!.gitattributes

# Gradle Files
!*.gradle
!*.bat
!gradlew

# Java Files
!*.java

# Shell scripts
!*.sh

# Frontend
!src/main/resources/templates/*.html
!src/main/resources/templates/fragments/*.html
!src/main/resources/templates/ArtikelEinstellen.html

# Conf files
!*.conf

# CI/CD
!*.yml

# Docker files
!Dockerfile
!.dockerignore

# Readme
!*.md
!*.adoc

# Json files
!*.json

# Properties
!*.properties

# Images via lsf
!*.jpg
