## Blacklist
*

## Whitelist

# Git
!.gitignore
!.gitkeep
!.gitattributes

# Allow recursive
!*/

# Gradle Files
!*.gradle
!*.bat
!gradlew

# Java Files
!*.java

# Shell scripts
!*.sh

# Frontend
!src/resources/templates/*.html
!app/static/*.css
!app/static/*.less
!app/static/*.sass
!app/static/*.js

# Conf files
!*.conf

# CI/CD
!*.yml

# Docker files
!Dockerfile
!.dockerignore

# Readme
!*.md
!*.adoc

# Json files
!*.json

# Properties
!*.properties

# Images via lsf
!*.jpg
