<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:pth="http://www.w3.org/1999/xhtml" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sign up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.4-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>

  <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
          <!-- Bild links im Header -->
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
        <!-- für mobile -->
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">

        <div class="navbar-start">
          <a class="navbar-item">
            Suchen
          </a>

          <a class="navbar-item">
            Mein Konto
          </a>

          <a class="navbar-item">
            Produkt einstellen
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Nachrichten
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Chat
              </a>
              <a class="navbar-item">
                Benachrichtigungen
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Konfliktstelle
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>

    </div>
  </nav>
    
  <section class="hero is-light is-fullheight">
      <div class="hero-body">
          <div class="container has-text-centered">
              <div class="column is-6 is-offset-3">
                  <h3 class="title has-text-black">Sign up</h3>
                  <p class="subtitle has-text-black">Please fill in your personal information</p>
                  <div class="box">

                    <div class="field">
                      <label class="label">Name</label>
                      <div class="control">
                        <input class="input" type="text" th:field="*{name}" placeholder="Name">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Username</label>
                      <div class="control">
                        <input class="input" type="text" th:field="*{username}" placeholder="Username">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Password</label>
                      <div class="control">
                        <input class="input" type="password" th:field="*{password}" placeholder="please choose a strong and secure password!!">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Email</label>
                      <div class="control">
                        <input class="input" th:field="*{email}" placeholder="Email">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Gender</label>
                      <div class="control">
                        <div class="select">
                          <select>
                            <option>Female</option>
                            <option>Male</option>
                            <option>Don't want to specify</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">About yourself</label>
                      <div class="control">
                        <textarea class="textarea" placeholder="Textarea"></textarea>
                      </div>
                    </div>

                    <div class="field">
                      <div class="control">
                        <label class="checkbox">
                          <input type="checkbox">
                          I agree to the <a href="#">terms and conditions</a>
                        </label>
                      </div>
                    </div>

                    <div class="field">
                      <div class="control">
                        <label class="checkbox">
                          <input type="checkbox">
                          I DON'T agree to the <a href="#">terms and conditions</a>!! :(
                        </label>
                      </div>
                    </div>

                    <div class="field is-grouped">
                      <div class="control">
                        <button class="button is-block is-primary is-normal is-fullwidth">Submit</button>
                      </div>
                      <div class="control">
                        <button class="button is-text">Cancel</button>
                      </div>
                    </div>
  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>
