<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation" th:fragment="header">
        <div class="navbar-brand">
            <!-- Bild links im Header -->
            <a class="navbar-item" href="https://bulma.io">
                <!-- Our icon comes here: -->
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
            <!-- für mobile -->
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu">

            <div class="navbar-start">
                <a class="navbar-item">
                    Suchen
                </a>

                <a class="navbar-item" href="">
                    Mein Konto
                </a>

                <a class="navbar-item" href="/item/create">
                    Produkt einstellen
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Nachrichten
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Chat
                        </a>
                        <a class="navbar-item">
                            Benachrichtigungen
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Konfliktstelle
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end" th:if="${isLoggedIn} == false">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-dark" href="/registration">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/login">
                            Log in
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end" th:if="${isLoggedIn} == true">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="/signout">
                            Sign Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>