<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">

    <table class="table" align=center style="width:95%">
      <thead>
        <tr class="is-primary is-selected ">
          <th><abbr title="ArtikelNr.">ArtikelNr.</abbr></th>
          <th><abbr title="ArtikelName.">ArtikelName</abbr></th>
          <th><abbr title="Anbieter">Anbieter</abbr></th>
          <th><abbr title="Preis(pro Tag)">Preis(pro Tag)</abbr></th>
          <th><abbr title="Kaution">Kaution</abbr></th>
          <th><abbr title="Beschreibung">Beschreibung</abbr></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>1</th>
          <th>Tefal Grill
          <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Max Mustermann">Max Mustermann </td>
          <td>5 Euro </td>
          <td>65 Euro </td>
          <td>Tefal Markengrill. Funktioniert einwandfrei <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title=weiter> <u> weiter lesen </u><a> </td>
        </tr>

      </tbody>
    </table>
  </section>
  </body>
</html>
