<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artikel einstellen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.4-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h3 class="title has-text-black">Artikel einstellen</h3>
                <p class="subtitle has-text-grey">Stelle hier einen Artikel zum Verleihen oder Verkaufen ein!</p>
                <form action="#" th:action="@{/item/create}" th:object="${itemForm}" method="post">
                    <div class="box">

                        <div class="field">
                            <label class="label">Titel</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Wähle einen Produkttitel" th:field="*{name}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Titel falsch eingegeben</p>
                        </div>


                        <div class="field">
                            <label class="label">Beschreibung</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Wähle eine aussagekräftige Beschreibung" th:field="*{description}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Beschreibung falsch eingegeben</p>
                        </div>


                        <div class="field">
                            <label class="label">Verleihpreis pro Tag</label>
                            <div class="control">
                                <input class="input" type="number" pattern="\d*" placeholder="in Euro / pro Tag" th:field="*{cost}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">Preis falsch eingegeben</p>
                        </div>


                        <div class="field">
                            <label class="label">Kaution</label>
                            <div class="control">
                                <input class="input" type="number" pattern="\d*" placeholder="in Euro" th:field="*{deposit}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('deposit')}" th:errors="*{deposit}"> Abholort falsch eingegeben</p>
                        </div>


                        <div class="field">
                            <label class="label">Verfügbarkeit</label>
                            <div class="control">
                                <input class="input" type="number" pattern="\d*" placeholder="Wie lange am Stück willst du deinen Artikel ausleihen?" th:field="*{availableTime}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('availableTime')}" th:errors="*{availableTime}">Verfügbarkeit falsch eingegeben</p>
                        </div>

                        <div class="field">
                            <label class="label">Preis für den Verkauf</label>
                            <div class="control">
                                <input class="input" type="number" pattern="\d*" placeholder="Gib einen Preis für den Verkauf an" th:field="*{soldPrice}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('soldPrice')}" th:errors="*{soldPrice}">Preis falsch eingegeben</p>
                        </div>


                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-block is-primary is-normal is-fullwidth" type="submit">Weiter</button>
                            </div>
                            <div class="control">
                                <a class="button is-text" href="/">abbrechen</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
<div th:insert="fragments/footer :: footer"></div>
</body>

</html>
