<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
    .left    { text-align: left; }
    </style>
</head>
<body>
<section class="section">
    <div class="container">

        <div class="navbar-item">
            <a class="left"><img src="https://image.flaticon.com/icons/svg/1256/1256638.svg"></a>
        </div>

        <h1 class="title">
            Hallo liebe/r LeihOrDie Nutzer/in
        </h1>
        <br>
        <p class="subtitle">
            Hast du Fragen? Gibt es Probleme mit deiner Software? Oder möchtest du uns ein Feedback geben? <br>
            Dann komm doch zur Heinrich-Heine-Universität in unser Office in Raum <i>25.12.02.55</i>. Wir freuen uns auf dich.
        </p>

        <p class="has-text-left">
            <a class="button is-primary ">zurück</a>
        </p>


    </div>
</section>
</body>
</html>