<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeihOrDie!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <div th:insert="fragments/header :: header"></div>
  <body>
  <div th:insert="fragments/header :: header"></div>
      <section class="hero is-fullheight is-default is-bold">
       <div class="hero-body">
           <div class="container has-text-centered">
               <div class="columns is-vcentered">
                   <div class="column is-5">
                       <figure class="image is-5by4">
                           <img th:src="@{/images/test.jpg}"/>
                       </figure>
                   </div>
                   <div class="column is-6 is-offset-1">
                       <h1 class="title is-2">
                           LeihOrDie
                       </h1>
                       <h2 class="subtitle is-4">
                           Die kostenlose Ausleih-Plattform der Zukunft.
                       </h2>
                       <br>
                       <p class="has-text-centered">
                           <a th:href="@{'/borrowall'}" class="button is-medium is-primary">los gehts</a>
                           <a th:href="@{'/registration'}" class="button is-medium is-primary is-outlined">Registriere Dich!</a>
                       </p>
                   </div>
               </div>
           </div>
       </div>
   </section>

  </body>
</html>
