<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>upload photo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.4-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h3 class="title has-text-black">Ein Foto hochladen</h3>
                <br></br>



                <form action="#" th:action="@{|/item/${itemId}/uploadphoto|}" enctype="multipart/form-data" method="post">
                    <div class="box">

                        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
                        <br>
                        <div class="field">
                            <input type="file" name="file">
                            <div class="control">
                                <br>
                                <button class="button is-block is-primary is-normal is-fullwidth" type="submit">Upload</button>
                            </div>
                        </div>

                        <p class="has-text-right">
                            <a  th:href="@{'/borrowall'}" class="button is-medium is-primary is-outlined">Finish</a>
                            <a  th:href="@{'/borrowall'}" class="button is-medium is-primary is-outlined">Skip uploading photos</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
<div th:insert="fragments/footer :: footer"></div>
</body>

</html>
