<div id="articles" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="columns">
        <div class="column is-6">
            <div class="card events-card">
                <header class="card-header">
                    <p class="card-header-title">
                        Diese Artikel biete ich an:
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                            <tbody>
                            <tr th:each="item: ${items}">
                                <th><a th:href="@{'/borrowall/' + ${item.id}}" th:text="${item.getName()}"></a></th>
                                <td>
                                    <form class="deleteForm" method="POST" th:action="@{'/delete/' + ${item.id}}">
                                        <button type="submit" name="submit" value="value" class="button is-small is-primary">Löschen</button>
                                    </form>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="column is-6">
            <div class="card events-card">
                <header class="card-header">
                    <p class="card-header-title">
                        Ich leihe zurzeit aus:
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                            <tbody>
                            <tr th:each="loan: ${loans}">
                                <th th:text="${loan.getItem().getName()}"></th>
                                <td>
                                    <form class="currentLoansForm" method="POST" th:action="@{'/conflict/open/' + ${loan.getId()}}">
                                        <button type="submit" name="submit" value="value" class="button is-small is-primary">Konflikt</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- HIER TABELLE VON DEN ARTIKELN, WELCHE JEMAND VOM USER AUSLEIHEN MÖCHTE -->

    <div class="columns">
        <div class="column is-6">
            <div class="card events-card">
                <header class="card-header">
                    <p class="card-header-title">
                        Anfragen zum Verleihen:
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                            <tbody>
                            <tr th:each="item: ${pendingloans}">
                                <th th:text="${item.getItem().getName()}"></th>
                                <td>
                                    <form class="acceptRequestForm" method="POST" th:action="@{'/request/accept/' + ${item.getId()}}">
                                        <button type="submit" name="submit" value="value" class="button is-small is-primary">bestätigen</button>
                                    </form>
                                </td>
                                <td>
                                    <form class="declineRequestForm" method="POST" th:action="@{'/request/decline/' + ${item.getId()}}">
                                        <button type="submit" name="submit" value="value" class="button is-small is-primary is-outlined">ablehnen</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="column is-6">
            <div class="card events-card">
                <header class="card-header">
                    <p class="card-header-title">
                        Diese Artikel verleihe ich zurzeit:
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                            <tbody>
                            <tr th:each="acceptedloan: ${acceptedloans}">
                                <th th:text="${acceptedloan.getItem().getName()}"></th>
                                <td>
                                    <form class="pickedUpForm" method="POST" th:action="@{'/request/activate/' + ${acceptedloan.getId()}}">
                                        <button type="submit" name="submit" value="value" class="button is-small is-primary">abgeholt</button>
                                    </form>
                                </td>
                                <td>
                                    <form class="conflictForm" method="POST" th:action="@{'/conflict/open/' + ${acceptedloan.getId()}}">
                                        <button type="submit" name="submit" value="value" class="button is-small is-primary is-outlined conflictButton">Konflikt</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table is-fullwidth is-striped">
                            <tbody>
                            <tr th:each="activeloan: ${activeloans}">
                                <th th:text="${activeloan.getItem().getName()}"></th>
                                <td>
                                    <form class="returnedForm" method="POST" th:action="@{'/request/return/' + ${activeloan.getId()}}">
                                        <button type="submit" name="submit" value="value" class="button is-small is-primary">zurückgegeben</button>
                                    </form>
                                </td>
                                <td>
                                    <form class="conflictForm" method="POST" th:action="@{'/conflict/open/' + ${activeloan.getId()}}">
                                        <button type="submit" name="submit" value="value" class="button is-small is-primary is-outlined conflictButton">Konflikt</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>