<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>

<div th:insert="fragments/header :: header"></div>
      
  <section class="hero is-light is-fullheight">
      <div class="hero-body">
          <div class="container has-text-centered">
              <div class="column is-4 is-offset-4">
                  <h3 class="title has-text-black">Login</h3>
                  <p class="subtitle has-text-grey">Bitte melde Dich an</p>
                  <div class="box">
                      <form class= action="#" th:action="@{/signup}" th:object="${userForm}" method="post">
                          <div class="field">
                              <div class="control">
                                  <input class="input is-large" type="email" placeholder="Deine Email" th:field="*{email}">
                              </div>
                              <p class="help is-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email ist ungültig</p>
                          </div>

                          <div class="field">
                              <div class="control">
                                  <input class="input is-large" type="password" placeholder="Dein Passwort" th:field="*{password}">
                              </div>
                              <p class="help is-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Passwort ist ungültig</p>
                          </div>
                            <button class="button is-block is-primary is-large is-fullwidth">Login</button>
                      </form>
                  </div>
                  <p class="has-text-grey">
                      <a href="/signup">Noch kein Benutzerkonto?</a> &nbsp;·&nbsp;
                      <a href="../">Brauchst Du Hilfe?</a>
                  </p>
              </div>
          </div>
      </div>
  </section>
</body>

</html>
