<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeihOrDie!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <div th:insert="fragments/header :: header"></div>

  <body>
      <section class="hero is-fullheight is-default is-bold">
       <div class="hero-body">
           <div class="container has-text-left">
               <div class="columns is-vcentered">
                   <div class="column is-5">
                       <figure class="image is-5by4">
                           <img src="tomaten.jpg" alt="Description">
                       </figure>
                   </div>
                   <div class="column is-6 is-offset-1">
                     <p class="has-text-right">
                       <h1 class="title is-2">
                           ArtikelName
                       </h1>
                     </p>
                       <h2 class="subtitle is-4">
                           Beschreibung:

                       </h2>
                       <h3 class="subtitle is-4">
                           Abholort:

                       </h3>
                       <h4 class="subtitle is-4">
                           Verfügbarkeit:

                       </h4>
                       <h5 class="subtitle is-4">
                           Kaution (€):

                       </h5>
                       <h6 class="subtitle is-4">
                           Preis pro Tag (€):

                       </h6>
                       <h7 class="subtitle is-4">
                           Ausleiher:


                       </h7>
                       <br>
                       <p class="has-text-centered">
                           <a class="button is-medium is-primary is-outlined">
              ausleihen
             </a>
                       </p>
                       <br>
                       <p class="has-text-centered">
                       <h8 class="subtitle is-6">
                           Schickt eine Anfrage an den Besitzer des Artikels.
                         </p>
                       </h8>
                       <br>
                       <p class="has-text-right">
                           <a class="button is-little is-primary is-outlined">
              zurueck
             </a>
                       </p>
                       <br>
                   </div>
               </div>
           </div>
       </div>
   </section>

  </body>
</html>
