<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>signup</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>

<div th:insert="fragments/header :: header"></div>

<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title has-text-black">Sign up</h1>
        <p class="subtitle has-text-grey">Hier kannst Du deine Daten eingeben</p>

        <form class= action="#" th:action="@{/signup}" th:object="${userForm}" method="post">
          <div class="box">

            <div class="field">
              <label class="label">Benutzername</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Dein Benutzername" th:field="*{username}">
              </div>
              <p class="help is-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Benutzername ungültig</p>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Deine Email" th:field="*{email}">
              </div>
              <p class="help is-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email ungültig</p>
            </div>

            <div class="field">
              <label class="label">Passwort</label>
              <div class="control">
                <input class="input" type="password" id="password" th:field="*{password}">
              </div>
              <p class="help is-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Dieses Passwort ist nicht sicher genug</p>
            </div>

            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  Ich akzeptiere die <a href="#">LeihOrDie Conditions</a>
                </label>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-block is-primary is-normal is-fullwidth">Erstelle Dein Konto</button>
              </div>
            </div>

          </div>
        </form>
      </div>
      <p class="has-text-grey">
        <a href="../">Startseite</a> &nbsp;·&nbsp;
        <a href="../">Brauchst Du Hilfe?</a>
      </p>
    </div>
  </div>
</section>
</body>
</html>