<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Benutzerkonto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <div th:insert="fragments/header :: header"></div>

  <body>
  <div th:insert="fragments/header :: header"></div>
<br></br>
<br></br>

    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">

                    <p class="menu-label">
                        Profil
                    </p>
                    <ul class="menu-list">
                        <li><a href="/Profilverwalten">Profil verwalten</a></li>
                    </ul>
<!--                    <p class="menu-label">
                        Produkte
                    </p>
                    <ul class="menu-list">
                        <li><a href="angeboteneProdukte">angebotene Produkte</a></li>
                        <li><a href="ausgelieheneProdukte">ausgeliehene Produkte</a></li>

                    </ul>
-->                    <p class="menu-label">
                        Einstellungen
                    </p>
                    <ul class="menu-list">
                        <li><a href="Propay">Propay</a></li>
                        <li><a href="Kundenservice">Kundenservice</a></li>
                        <li><a href="Fragen">häufige Fragen</a></li>
                    </ul>
                </aside>
            </div>

            <div class="column is-9">

                <section class="hero is-primary welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hallo,
                            </h1>
                            <h2 class="subtitle">
                                viel Spaß beim aus- und verleihen!
                            </h2>
                        </div>
                    </div>
                </section>
                <br></br>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">20</p>         <!-- HIER MUSS DIE ANZAHL DER EINGESTELLTEN PRODUKTE HIN-->
                                <p class="subtitle">Produkte online</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">2</p>          <!-- HIER MUSS DIE ANZAHL DER AUSGELIEHENEN PRODUKTE HIN-->
                                <p class="subtitle">ausgeliehene Produkte</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">34</p>         <!-- BEWERTUNGEN?????-->
                                <p class="subtitle">Bewertungen</p>
                            </article>
                        </div>
                    </div>
                </section>

                <!-- HIER TABELLE VON DEN ANGEBOTENEN PRODUKTEN DES USERS -->

                <div class="columns">
                    <div class="column is-6">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Ich leihe zur Zeit aus:
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">           <!-- HIER TABELLE VON DEN ANGEBOTENEN PRODUKTEN DES USERS-->
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Produktname</td>
                                                <td><a class="button is-small is-primary" >Artikel zurück geben</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- HIER TABELLE VON DEN ARTIKELN, WELCHE JEMAND VOM USER AUSLEIHEN MÖCHTE -->

                <div class="columns">
                    <div class="column is-6">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Anfragen zum Verleihen:
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Produktname</td>
                                            <td><a class="button is-small is-primary" >verleihen</a> <a class="button is-small is primary" >ablehnen</a> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
