<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Benutzerkonto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
  <div th:insert="fragments/header :: header"></div>
<br></br>
<br></br>

    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">

                    <p class="menu-label">
                        Profil
                    </p>
                    <ul class="menu-list">
                        <li><a href="/Profilverwalten">Profil verwalten</a></li>
                    </ul>
                    <p class="menu-label">
                        Einstellungen
                    </p>
                    <ul class="menu-list">
                        <li><a href="/myaccount/propay">Propay</a></li>
                        <li><a href="Kundenservice">Kundenservice</a></li>
                        <li><a href="Fragen">häufige Fragen</a></li>
                    </ul>
                </aside>
            </div>

            <div class="column is-9">

                <section class="hero is-primary welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 th:text="'Hallo, ' + ${user} +'!'"class="title">
                            </h1>
                            <h2 class="subtitle">
                                Viel Spaß beim aus- und verleihen!
                            </h2>
                        </div>
                    </div>
                </section>
                <br></br>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title " th:text="${items.size()}"></p>         <!-- HIER MUSS DIE ANZAHL DER EINGESTELLTEN PRODUKTE HIN-->
                                <p class="subtitle">Produkte online</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title" th:text="${loans.size()}"></p>          <!-- HIER MUSS DIE ANZAHL DER AUSGELIEHENEN PRODUKTE HIN-->
                                <p class="subtitle">ausgeliehene Produkte</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">42</p>         <!-- BEWERTUNGEN?????-->
                                <p class="subtitle">Bewertungen</p>
                            </article>
                        </div>
                    </div>
                </section>

                <!-- HIER TABELLE VON DEN ANGEBOTENEN PRODUKTEN DES USERS -->

                <div id="articles">
                    <div class="columns">
                        <div class="column is-6">
                            <div class="card events-card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Diese Artikel biete ich an:
                                    </p>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped">
                                            <tbody>
                                            <tr th:each="item: ${items}">
                                                <th><a th:href="@{'/borrowall/' + ${item.id}}" th:text="${item.getName()}"></a></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="column is-6">
                            <div class="card events-card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Ich leihe zurzeit aus:
                                    </p>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped">
                                            <tbody>
                                            <tr th:each="loan: ${loans}">
                                                <th th:text="${loan.getItem().getName()}"></th>
                                                <td>
                                                    <form class="currentLoansForm" method="POST" th:action="@{'/conflict/open/' + ${loan.getId()}}">
                                                        <button type="submit" name="submit" value="value" class="button is-medium is-primary">Konflikt</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- HIER TABELLE VON DEN ARTIKELN, WELCHE JEMAND VOM USER AUSLEIHEN MÖCHTE -->

                    <div class="columns">
                        <div class="column is-6">
                            <div class="card events-card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Anfragen zum Verleihen:
                                    </p>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped">
                                            <tbody>
                                            <tr th:each="item: ${pendingloans}">
                                                <th th:text="${item.getItem().getName()}"></th>
                                                <td>
                                                    <form class="acceptRequestForm" method="POST" th:action="@{'/request/accept/' + ${item.getId()}}">
                                                        <button type="submit" name="submit" value="value" class="button is-small is-primary">bestätigen</button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="declineRequestForm" method="POST" th:action="@{'/request/decline/' + ${item.getId()}}">
                                                        <button type="submit" name="submit" value="value" class="button is-small is-primary is-outlined">ablehnen</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="column is-6">
                            <div class="card events-card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Diese Artikel verleihe ich zurzeit:
                                    </p>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped">
                                            <tbody>
                                            <tr th:each="activeloan: ${acceptedloans}">
                                                <th th:text="${activeloan.getItem().getName()}"></th>
                                                <td>
                                                    <form class="pickedUpForm" method="POST" th:if="${activeloan.getState()} == 'accepted'" th:action="@{'/request/activate/' + ${activeloan.getId()}}">
                                                        <button type="submit" name="submit" value="value" class="button is-small is-primary">ausgeliehen</button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="conflictForm" method="POST" th:action="@{'/conflict/open/' + ${activeloan.getId()}}">
                                                        <button type="submit" name="submit" value="value" class="button is-small is-primary is-outlined">Konflikt</button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="returnedForm" method="POST" th:if="${activeloan.getState()} == 'active'" th:action="@{'/request/return/' + ${activeloan.getId()}}">
                                                        <button type="submit" name="submit" value="value" class="button is-small is-primary is-outlined">zurückgegeben</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <script>
      function setDataSenderOnForms() {
          var forms = [
              document.getElementsByClassName("currentLoansForm"),
              document.getElementsByClassName("acceptRequestForm"),
              document.getElementsByClassName("declineRequestForm"),
              document.getElementsByClassName("pickedUpForm"),
              document.getElementsByClassName("conflictForm"),
              document.getElementsByClassName("returnedForm")
          ];

          for(var i = 0; i < forms.length; i++) {
              Array.prototype.forEach.call(forms[i], el=>el.addEventListener("submit", function (event) {
                  event.preventDefault();
                  sendData(el);
              }));
          };
          console.log("HALLO");
      }

      function sendData(form) {
          var xhr = new XMLHttpRequest();
          //var formData = new FormData(form);

          xhr.addEventListener("load", function(event) {
              document.getElementById("articles").innerHTML = xhr.response;
              setDataSenderOnForms();
          });

          xhr.open("POST", form.action);
          xhr.send();

      }

      setDataSenderOnForms();
  </script>
</body>

</html>
